In [10]:
Name1 = ['samantha','jada','jane','claire','elizabeth','mary','susan','wale','taibat','lilian']
Age1 = [17,16,17,18,16,18,17,20,19,17]
Height1 = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]
Score1 = [80,85,70,60,76,66,87,95,50,49]

print("GIRLS DATA")
print("NAME | AGE | HEIGHT | SCORE")

for i in range(len(Name1)):
    print(Name1[i],"|",Age1[i],"|",Height1[i],"|",Score1[i])
        
        
        
Name2 = ['Charles','Jude','James','Kelvin','Biodun','Wale','Kunle','Matthew','Tom','Kayode']
Age2 = [19,16,18,17,20,19,16,18,17,19]
Height2 = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7]
Score2 = [74,87,75,68,66,78,87,98,54,60]

print("\n\n BOYS DATA")
print("NAME | AGE | HEIGHT | SCORE")

for i in range(len(Name2)):
    print(Name2[i],"|",Age2[i],"|",Height2[i],"|",Score2[i])

GIRLS DATA
NAME | AGE | HEIGHT | SCORE
samantha | 17 | 5.5 | 80
jada | 16 | 6.0 | 85
jane | 17 | 5.4 | 70
claire | 18 | 5.9 | 60
elizabeth | 16 | 5.6 | 76
mary | 18 | 5.5 | 66
susan | 17 | 6.1 | 87
wale | 20 | 6.0 | 95
taibat | 19 | 5.7 | 50
lilian | 17 | 5.5 | 49


 BOYS DATA
NAME | AGE | HEIGHT | SCORE
Charles | 19 | 5.7 | 74
Jude | 16 | 5.9 | 87
James | 18 | 5.8 | 75
Kelvin | 17 | 6.1 | 68
Biodun | 20 | 5.9 | 66
Wale | 19 | 5.5 | 78
Kunle | 16 | 6.1 | 87
Matthew | 18 | 5.4 | 98
Tom | 17 | 5.8 | 54
Kayode | 19 | 5.7 | 60

In [11]:
print("Welcome to the Megapixel fintech company")
print("This is the annual tax revenue generator\n")

age = int(input('Enter you age: '))
xp = int(input('Enter your number of years of experience: '))

if xp > 25 and age == 55 or age > 55:
    print("Your Annual Tax Revenue is N5,600,000")
elif xp > 20 and age == 45 or age > 55:
    print("Your Annual Tax Revenue is N4,480,000")
elif xp > 10 and ag == 35 or age > 55:
    print("Your Annual Tax Revue is N1,500,000")
else:
    print("Your Annual Tax Revenue is N550,000")

Welcome to the Megapixel fintech company
This is the annual tax revenue generator

Enter you age: 55
Enter your number of years of experience: 55
Your Annual Tax Revenue is N5,600,000